# Cached Files
*.pyc

# Log Files
*.out

# Static Collection Files
/.static_root

# VSCode Config
.vscode/

# Database File
db.sqlite3

/mail/core/token.pickle

*.xlsx

# Security
/mail/interface/credentials.json
*.pickle
