<body>
    <p>Upload your email address file.</p>
    <p>Only supports .xlsx format.</p>
    <input type="file" value="email-address"><br>

    <p>Select one of the templates below.</p>
    <select list="Templates" name="contents-template">
        <option value="speech-invitation-ko">연사 초청 한국어</option>
        <option value="speech-invitation-en">Speech Invitation English</option>
    </select><br><br>
    <textarea rows="10" cols="60"></textarea><br>

    <div id="content-args">
        <input type="text"><br>
        <input type="text"><br>
        <input type="text"><br>
        <input type="text"><br>
    </div>
    <br>
    <input type="button" value="Send">
</body>